*
  box-sizing: border-box
.container
  width: 1154px
  margin: auto
ul
  padding: 0
li
  list-style: none
a
  text-decoration: none

@media (max-width: 1200px) 
  .container
    max-width: 960px
    width: 90%
  
@media (max-width: 1035px) 
  .container
    max-width: 760px
    width: 90%
  
@media (max-width: 768px) 
  .container
    max-width: 560px
    width: 90%
  
  
