.hero
  padding: 100px 0 
  background-color: $secondary-color
  &-block
    color: #ffffff
    text-align: center
    &__title
      text-transform: uppercase   
      margin: 0 0 5px 0 
      font-size: 35px
      font-weight: 700
      +got
      letter-spacing: -0.88px
    &__subtitle
      margin: 0 0 30px 0
    &__image
      margin: auto
      width: 56%
      &-tv
      position: relative
      margin-bottom: -215px 
      margin-top: 67px     
      &-slider
        width: 70%
        position: absolute
        top: 5%
        left: 15%       
     
.form
  &__input
    margin-right: 15px  
    &:last-child
      margin-right: 0
    &-icon
      color: #6e6e6e
      margin-right: -30px
      z-index: 1
      position: relative
  &__button
    
      
@media (max-width: 1200px) 
  .form
    &__button
      margin-top: 20px
@media (max-width: 1035px) 
  .hero
    &-block
      &__title
        margin-bottom: 20px
      &__image
        width: 85%
  .form
    &__input
      width: 40%
      &:last
        margin-right: 20px
@media (max-width: 768px) 
 .hero
    &-block
      &__image
        width: 100% 

@media (max-width: 567px) 
  .hero
    padding: 30px 0 10px
    &-block
      &__title
        font-size: 30px
      &__image
        &-tv
          display: none
        &-slider
          position: static
          width: 100%
  .form
    &__input
      width: 100%
      margin-bottom: 7px
    &__button
      width: 100%
