.navbar
  padding: 15px 0 12px
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    &__menu
      display: flex
    &__link
      display: block
      text-transform: uppercase
      color: $text-color
      padding: 10px 20px
      font-size: 14px
      &:hover
        color: #ffffff
        background-color: $main-color 
    &__button
      display: block      
      width: 50px
      height: 50px
      position: relative
      display: none 
      & .burger
        position: absolute
        width: 20px
        height: 2px
        left: 50%
        margin-left: -10px
        top: 50%
        margin-top: -1px 
        background-color: $text-color
        &:before
          content: ''   
          position: absolute
          width: 20px
          height: 2px
          left: 50%
          margin-left: -10px
          top: 50%
          margin-top: -1px 
          background-color: $text-color
          transform: translateY(-5px)
        &:after
          content: ''   
          position: absolute
          width: 20px
          height: 2px
          left: 50%
          margin-left: -10px
          top: 50%
          margin-top: -1px 
          background-color: $text-color
          transform: translateY(5px)
      &:hover
        background-color: $main-color
        /* & .burger
          background-color: #fff   */      
   

        
@media (max-width: 1035px) 
  .navbar
    &-block
      &__menu
        margin-right: -30px 
      &__link
        font-size: 10px
        padding: 5px 5px
@media (max-width: 768px) 
  .navbar
    &-block
      position: relative
      &__menu
        display: none
        &_active
          width: 50%
          display: block
          position: absolute
          top: 90%
          right: 5%
          text-align: center
          background-color: #fff
          padding: 20px 0 30px
          z-index: 2
      &__link
        font-size: 20px
        padding: 17px
        text-align: right
      &__button
        display: block
      
@media (max-width: 567px) 
  .navbar
    padding: 15px 0
    &-block
      &__menu
        &_active
          width: 100%
          right: 0
          margin: auto
          display: block
      &__link
        text-align: center
        
        