* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #868686;
}

.container {
  width: 1154px;
  margin: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 90%;
  }
}

@media (max-width: 1035px) {
  .container {
    max-width: 760px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 90%;
  }
}

.navbar {
  padding: 22px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-block__link {
  display: block;
  text-transform: uppercase;
  color: #868686;
  padding: 10px 20px;
  font-size: 14px;
}

.navbar-block__link:hover {
  color: #ffffff;
  background-color: #ffc155;
}

.navbar-block__button {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  display: none;
}

.navbar-block__button .burger {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -1px;
  background-color: #868686;
}

.navbar-block__button .burger:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -1px;
  background-color: #868686;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navbar-block__button .burger:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -1px;
  background-color: #868686;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.navbar-block__button:hover {
  background-color: #ffc155;
  /* & .burger
          background-color: #fff   */
}

@media (max-width: 1035px) {
  .navbar-block__link {
    font-size: 10px;
    padding: 5px 10px;
  }
}

@media (max-width: 768px) {
  .navbar-block {
    position: relative;
  }
  .navbar-block__menu {
    display: none;
  }
  .navbar-block__menu_active {
    display: block;
    position: absolute;
    right: -1%;
    top: 80%;
  }
  .navbar-block__link {
    font-size: 14px;
    padding: 7px 10px;
    text-align: right;
  }
  .navbar-block__button {
    display: block;
  }
}

@media (max-width: 567px) {
  .navbar {
    padding: 15px 0;
  }
  .navbar-block__menu_active {
    width: 100%;
  }
  .navbar-block__link {
    text-align: center;
  }
}

.hero {
  padding: 110px 0;
  background-color: #709dca;
}

.hero-block {
  color: #ffffff;
  text-align: center;
}

.hero-block__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 35px;
  font-weight: 600;
}

.hero-block__subtitle {
  margin: 0 0 30px 0;
}

.hero-block__image {
  position: relative;
  margin-bottom: -170px;
  margin-top: 67px;
  background: url("../img/hero-img.png") no-repeat center;
  height: 343px;
}

.hero-block__image-slider {
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -222px;
}

.form__input {
  color: #a9a9a9;
  padding: 18px 44px;
  font-size: 13px;
}

.form__button {
  border-style: none;
  background-color: #ffc155;
  color: #ffffff;
  padding: 17px 44px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */