@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../fonts/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #868686;
}

img {
  width: 100%;
}

.container {
  width: 1154px;
  margin: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.form__input {
  color: #a9a9a9;
  padding: 18px 40px;
  font-size: 13px;
  border-style: none;
  border-radius: 2px;
  width: 281px;
  height: 46px;
  background-color: #fff;
}

.form__button {
  border-style: none;
  background-color: #ffc155;
  color: #ffffff;
  padding: 0 44px;
  height: 46px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 90%;
  }
}

@media (max-width: 1035px) {
  .container {
    max-width: 760px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 90%;
  }
}

.navbar {
  padding: 15px 0 12px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-block__link {
  display: block;
  text-transform: uppercase;
  color: #868686;
  padding: 10px 20px;
  font-size: 14px;
}

.navbar-block__link:hover {
  color: #ffffff;
  background-color: #ffc155;
}

.navbar-block__button {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  display: none;
}

.navbar-block__button .burger {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -1px;
  background-color: #868686;
}

.navbar-block__button .burger:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -1px;
  background-color: #868686;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navbar-block__button .burger:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -1px;
  background-color: #868686;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.navbar-block__button:hover {
  background-color: #ffc155;
  /* & .burger
          background-color: #fff   */
}

@media (max-width: 1035px) {
  .navbar-block__menu {
    margin-right: -30px;
  }
  .navbar-block__link {
    font-size: 10px;
    padding: 5px 5px;
  }
}

@media (max-width: 768px) {
  .navbar-block {
    position: relative;
  }
  .navbar-block__menu {
    display: none;
  }
  .navbar-block__menu_active {
    width: 50%;
    display: block;
    position: absolute;
    top: 90%;
    right: 5%;
    text-align: center;
    background-color: #fff;
    padding: 20px 0 30px;
    z-index: 2;
  }
  .navbar-block__link {
    font-size: 20px;
    padding: 17px;
    text-align: right;
  }
  .navbar-block__button {
    display: block;
  }
}

@media (max-width: 567px) {
  .navbar {
    padding: 15px 0;
  }
  .navbar-block__menu_active {
    width: 100%;
    right: 0;
    margin: auto;
    display: block;
  }
  .navbar-block__link {
    text-align: center;
  }
}

.hero {
  padding: 100px 0;
  background-color: #709dca;
}

.hero-block {
  color: #ffffff;
  text-align: center;
}

.hero-block__title {
  text-transform: uppercase;
  margin: 0 0 5px 0;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Gotham Pro Black';
  letter-spacing: -0.88px;
}

.hero-block__subtitle {
  margin: 0 0 30px 0;
}

.hero-block__image {
  margin: auto;
  width: 56%;
  position: relative;
  margin-bottom: -215px;
  margin-top: 67px;
}

.hero-block__image-slider {
  width: 70%;
  position: absolute;
  top: 5%;
  left: 15%;
}

.form__input {
  margin-right: 15px;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input-icon {
  color: #6e6e6e;
  margin-right: -30px;
  z-index: 1;
  position: relative;
}

@media (max-width: 1200px) {
  .form__button {
    margin-top: 20px;
  }
}

@media (max-width: 1035px) {
  .hero-block__title {
    margin-bottom: 20px;
  }
  .hero-block__image {
    width: 85%;
  }
  .form__input {
    width: 40%;
  }
  .form__input:last {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .hero-block__image {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .hero {
    padding: 30px 0 10px;
  }
  .hero-block__title {
    font-size: 30px;
  }
  .hero-block__image-tv {
    display: none;
  }
  .hero-block__image-slider {
    position: static;
    width: 100%;
  }
  .form__input {
    width: 100%;
    margin-bottom: 7px;
  }
  .form__button {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */